.danger {
  color: rgb(194, 41, 41);
  border: 1px solid rgb(218, 33, 33);
  border-radius: 2px;
}
#login-main-div {
  margin: 15px;
}
#image-section {
  padding: 0;
  object-fit: cover;
  width: 100%;
  margin: 0;
  height: 400px;
}
#login-form-div {
  color: rgb(8, 53, 112) !important;
  padding: 0;
  background-color: rgb(240, 240, 240);
}
#login-form-div form > mat-form-field,
button {
  margin: 20px;
}
